
        body {
            display: inline;
            color: white;
            margin: 0px;
            padding: 0px;
            background: url('img/1.jpg');
            background-position: center;
            background-attachment: fixed;
            height: 100%;
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
        }

        .left {
            position: absolute;
            left: 10px;
            top: 10px;
            display: inline-block;
            background: rgb(75, 24, 12);
            border-radius: 100px;
            opacity: 90%;
            border: 2px solid rgb(255, 249, 239);
            height: 99px;

        }

        .left img {
            width: 300px;
            filter: invert(100%);
            height: 98px;
        }

        .center {
            background: rgb(75, 24, 12);
            display: block;
            width: 45%;
            margin: 20px auto;
            border: 2px solid rgb(255, 249, 239);
            border-radius: 100px;
            opacity: 90%;
        }

        .right {
            position: absolute;
            right: 10px;
            top: 20px;
            border-radius: 100px;
            opacity: 90%;
            height: 99px;
        }

        .right img {
            width: 88px;
            height: 75px;
            cursor: pointer;
        }

        .right img:hover {
            width: 88px;
            height: 75px;
            cursor: pointer;
            filter: grayscale(100%)
        }

        .navbar {
            display: inline-block;
        }

        .navbar li {
            display: inline-block;
            color: black;
        }

        .navbar li a {
            color: rgb(255, 249, 239);
            font-size: 22px;
            text-decoration: none;
            padding: 25px;

        }

        .navbar li a:hover,
        .navbar li a:active {
            color: rgb(240, 211, 169);
            text-decoration: underline;
            padding: 25px;

        }

        .container {
            background: rgb(250, 206, 206);
            opacity: 85%;
            display: inline-block;
            border: 2px solid rgb(241, 152, 136);
            width: 54%;
            padding: 2px 28px;
            border-radius: 22PX;
            margin: 42px 70px;
            color: blue;
            font-size: 24px;
            font-family: 'Open Sans', sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .container h1 {
            color: black;
            font-size: 35px;
        }

        label {
            color: blue;
            font-size: bold;
            font-family: 'Open Sans', sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            padding: 69px;
            margin: 10px auto;
        }

        .btn {
            margin: 32px 109px;
            padding: 11px 38px;
            background-color: rgb(255, 160, 51);
            border-radius: 10px;
            font-size: bold;
        }

        input {
            background-color: rgb(229, 174, 243);
            margin: 20px auto;
            border-radius: 8px;
            margin: 15px auto;
        }
        input :hover{
            background-color: rgb(252, 241, 255);
            border-radius: 8px;
            margin: 15px auto;
        }

        button {
            font-size: 40px;
            background-color:red;
            color: rgb(138, 125, 66);
        }
        
        .btn:hover {
            font-size: 40px;
            background-color: rgb(187, 76, 32);
        }